{
  "openapi": "3.1.0",
  "info": {
    "title": "ServiceNow MCP Server",
    "description": "A Model Context Protocol (MCP) server providing 42 tools for ServiceNow IT Service Management, Customer Service Management, Change Management, Knowledge Management, CMDB, Service Catalog, and Flow Designer operations.",
    "version": "0.1.0",
    "contact": {
      "name": "Troy Taylor"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://ca-servicenow-7tin6dfwl3shu.wittygrass-bed744d3.eastus.azurecontainerapps.io",
      "description": "Azure Container Apps (production)"
    }
  ],
  "paths": {
    "/mcp": {
      "post": {
        "operationId": "mcpStreamableHttp",
        "summary": "MCP Streamable HTTP endpoint",
        "description": "Primary MCP transport endpoint for JSON-RPC messages. Supports session initialization, tool calls, and server-sent events.",
        "parameters": [
          {
            "name": "mcp-session-id",
            "in": "header",
            "required": false,
            "description": "Session identifier for an established MCP session. Omit for initialization.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response or SSE event stream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream carrying JSON-RPC responses"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "oauth2": [
              "mcp:tools"
            ]
          }
        ]
      },
      "get": {
        "operationId": "mcpSse",
        "summary": "MCP SSE stream",
        "description": "Subscribe to server-sent events for an existing MCP session.",
        "parameters": [
          {
            "name": "mcp-session-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE event stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        },
        "security": [
          {
            "oauth2": [
              "mcp:tools"
            ]
          }
        ]
      },
      "delete": {
        "operationId": "mcpSessionClose",
        "summary": "Close MCP session",
        "description": "Terminate an active MCP session and release server resources.",
        "parameters": [
          {
            "name": "mcp-session-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session closed successfully"
          },
          "404": {
            "description": "Session not found"
          }
        },
        "security": [
          {
            "oauth2": [
              "mcp:tools"
            ]
          }
        ]
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "oauthMetadata",
        "summary": "OAuth 2.0 Authorization Server Metadata",
        "description": "RFC 8414 metadata document for the built-in authorization server.",
        "security": [],
        "responses": {
          "200": {
            "description": "Authorization server metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "operationId": "protectedResourceMetadata",
        "summary": "Protected Resource Metadata",
        "description": "RFC 9728 Protected Resource Metadata document.",
        "security": [],
        "responses": {
          "200": {
            "description": "Protected resource metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectedResourceMetadata"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcRequest": {
        "type": "object",
        "required": [
          "jsonrpc",
          "method"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "const": "2.0"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "method": {
            "type": "string",
            "description": "MCP method name (e.g. initialize, tools/list, tools/call)"
          },
          "params": {
            "type": "object",
            "description": "Method parameters"
          }
        }
      },
      "JsonRpcResponse": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "const": "2.0"
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "result": {
            "type": "object"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "OAuthMetadata": {
        "type": "object",
        "properties": {
          "issuer": {
            "type": "string",
            "format": "uri"
          },
          "authorization_endpoint": {
            "type": "string",
            "format": "uri"
          },
          "token_endpoint": {
            "type": "string",
            "format": "uri"
          },
          "registration_endpoint": {
            "type": "string",
            "format": "uri"
          },
          "response_types_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "grant_types_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "code_challenge_methods_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProtectedResourceMetadata": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "string",
            "format": "uri"
          },
          "authorization_servers": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "scopes_supported": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "MCP-spec OAuth 2.1 with Dynamic Client Registration and PKCE",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "/api/auth/authorize",
            "tokenUrl": "/api/auth/token",
            "scopes": {
              "mcp:tools": "Access all MCP tools"
            }
          }
        }
      }
    }
  }
}
